/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/*-- reset --*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/*-- start editing from here --*/
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*-- end reset --*/
body {
    font-family: 'Open Sans', sans-serif;
    background:#912391;
    background-attachment: fixed;
}
h1 {
    font-size: 3em;
    text-align: center;
    color: #fff;
    font-weight: 100;
	font-family: 'Cormorant Garamond', serif;
}
/*-- agileits-main --*/
.agileits-main {
    padding: 3em 0 0;
}
.w3lmain-info{
    width: 50%;
    margin:2em auto 4em;
}
.login-form h2, .login-form h3 {
    font-size: 2.3em;
    color: #fff;
    text-align: center;
    margin-bottom: 1em;
    line-height: 0.7em;
    font-family: 'Cormorant Garamond', serif;
}
.profile-w3grid {
    width: 47%;
}
/*-- //agileits-main --*/
.login-form {
    width: 100%;
    margin: 2.5em auto 0;
    background: url(../images/1.jpg)no-repeat center 0px;
    background-size: cover;
	-webkit-box-shadow: -6px 6px 2px 1px #470047; 
	-moz-box-shadow: -6px 6px 2px 1px #470047;  
	-o-box-shadow: -6px 6px 2px 1px #470047;
	-ms-box-shadow: -6px 6px 2px 1px #470047;
    box-shadow: -6px 6px 2px 1px #470047;
}
.agile-row {
    padding: 2em;
    background-color: rgba(0, 0, 0, 0.55);
}
.input-row {
    padding: 1em 1em;
    border: 1px solid #c7c7c7; 
}
.login-form input[type="text"],.login-form input[type="email"], .login-form input[type="password"] {
    outline: none;
    font-size: 0.9em;
    color: #fff;
    padding: 0.8em 1em;
    margin: 0;
    width: 89.6%;
    border: none;
    -webkit-appearance: none;
    display: block;
	background:transparent;
}
.login-form input[type="text"].user{ 
    border-bottom: 1px solid #c7c7c7;
}
.login-form input[type="email"].email {
    margin-top: 0.5em;
    display: block;
	border-bottom: 1px solid #c7c7c7;
}
.login-form input[type="password"].password{ 
	margin-top:0.3em;
} 
.login-form p {
    font-size: 1em;
    color: #fff;
    margin: 1em 0 .5em;
	line-height: 1.8em;
}
/*-- checkbox --*/
.agileits-row2 {
    margin: 1.5em 0;
}
.login-agileits-top input[type="checkbox"] {
    display: none;
}
.login-agileits-top input[type="checkbox"]+label {
    position: relative;
    padding-left: 1.8em;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    cursor: pointer;
    display: -webkit-inline-box; 
}
.login-agileits-top input[type="checkbox"]+label span:first-child {
    width: 13px;
    height: 13px;
    border: 1px solid #C8C8C8;
    position: absolute;
    left: 0;
    top: 3px; 
}
.login-agileits-top input[type="checkbox"]:checked+label span:first-child:before {
    content: "";
    background: url(../images/tick.png)no-repeat;
    position: absolute;
    left: 2px;
    top: 2px;
    font-size: 10px;
    width: 10px;
    height: 10px;
}
/*-- //checkbox --*/
.login-form input[type="submit"] {
    font-size: 1em;
    color: #fff;
    background: #FF5722;
    border: 2px solid #FF5722;
    outline: none;
    cursor: pointer;
    padding: .6em 1em;
    -webkit-appearance: none;
    width: 100%; 
}
.login-form input[type="submit"]:hover {
    background: transparent;
    color: #FF5722;
    border-color:#FF5722 ;
    transition: 0.5s all ;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.login-agileits-bottom { 
    text-align: center;
    padding: 0 1em; 
}
.login-agileits-bottom p {
    margin: 1.5em 0 0;
    text-align: center;
    padding: 1em 0 0;
}
.login-agileits-bottom p.w3ls-line {
    border-top: 1px solid #7b7b7b;
    padding-top: 2em;
}
.login-agileits-bottom p.w3ls-line a{
	color:#FF5722;
	margin-left: 5px;
}
.login-agileits-bottom p.w3ls-line a:hover{
	color:#fff;
}
.login-agileits-bottom p a{
    color: #fff;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	transition:.5s all;
}
.login-agileits-bottom p a:hover {
    color: #FF5722;
}
.login-form .login-agileits-top.sign-up input[type="submit"] {
    margin-bottom: 2.1em;
}
.login-form input[type="text"]::-webkit-input-placeholder{ 
	font-size: 1em;  
}
::-webkit-input-placeholder {
   color: #fff;  
} 
:-moz-placeholder { /* Firefox 18- */
   color: #fff; 
} 
::-moz-placeholder {  /* Firefox 19+ */
	color: #fff;  
} 
:-ms-input-placeholder {  
   color: #fff;  
} 
/*-- sign up form --*/ 
.login-form.login-form-two {
    background: url(../images/2.jpg)no-repeat center 0px;
    background-size: cover;
}
.login-agileits-bottom p.w3ls-line.w3ls-line2 {
    margin: 2.4em 0 0;
} 
/*-- //sign up form --*/  
/*-- subscribe --*/ 
.login-form.login-form-three{
    background: url(../images/3.jpg)no-repeat center 0px;
    background-size: cover;
}
.profile-w3grid2 .login-form input[type="email"].email {
    border: none;
}
/*-- //subscribe --*/
.input-row.input-row3 {
    padding: 0em 1em 0.6em;
}
.login-form input[type="password"].Password1 {
    margin-top: 0.5em;
    border-top: 1px solid #c7c7c7;
}
p.w3l-subtext {
    font-size: .9em;
	font-weight: 100;
}
/*-- //main --*/ 
/*-- copyright --*/
.copyright {
    margin: 2em 0;
    text-align: center;
}
.copyright p {
    font-size: 1em;
    color: #fff;
    line-height: 1.8em;
    letter-spacing: 1px;
    font-weight: 400;
	padding:0 1em;
}
.copyright p a{
    color: #fff;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.copyright p a:hover{
    color: #FE7200;	
}
/*-- //copyright --*/
/*-- responsive-design --*/
@media(max-width:1440px){
.w3lmain-info {
    width: 53%; 
}
}
@media(max-width:1366px){
.w3lmain-info {
    width: 57%;
}
}
@media(max-width:1280px){
.w3lmain-info {
    width: 61%;
}
}
@media(max-width:1080px){
.agileits-main {
    padding: 2em 0 0;
}
h1 {
    font-size: 2.8em; 
}
.w3lmain-info {
    width: 72%;
    margin: 1em auto 3em;
}
.login-form h2, .login-form h3 {
    font-size: 2.1em; 
}
.agile-row {
    padding: 1.5em; 
}
.login-agileits-bottom p {
    margin: 1em 0 0; 
}
.login-agileits-bottom p.w3ls-line { 
    padding-top: 1em;
}  
.login-agileits-bottom p.w3ls-line.w3ls-line2 {
    margin: 1.7em 0 0;
}
} 
@media(max-width:991px){
.login-agileits-bottom { 
    padding: 0;
}
.input-row.input-row3 {
    padding: 0 0.5em 0.5em;
}
}
@media(max-width:800px){
.profile-w3grid {
    width: 48%;
}
.w3lmain-info {
    width: 83%; 
} 
.login-form { 
    margin: 1.5em auto 0; 
}
}
@media(max-width:768px){
.login-form p {
    font-size: 0.9em; 
}
.login-agileits-top input[type="checkbox"]+label { 
    font-size: 0.9em; 
}
}
@media(max-width:736px){
.login-form h2, .login-form h3 {
    font-size: 1.8em;
}
h1 {
    font-size: 2.6em;
}
.copyright p {
    font-size: 0.9em; 
}
}
@media(max-width:667px){
.profile-w3grid {
    width: 100%;
    float: none;
}
h1 {
    font-size: 2.3em;
}
.w3lmain-info {
    width: 65%;
}
} 
@media(max-width:480px){
.agileits-main {
    padding: 1em 0 0;
}
.w3lmain-info {
    width: 80%;
}
.login-form input[type="text"], .login-form input[type="email"], .login-form input[type="password"] { 
    font-size: 0.8em; 
} 
}
@media(max-width:414px){
.login-agileits-bottom p {
    margin: 0.5em 0 0;
    padding: 0.5em 0 0;
}
.w3lmain-info {
    width: 85%;
	margin: 1em auto 2em;
}
.login-form h2, .login-form h3 {
    font-size: 1.6em;
    line-height: 1.1em;
}
h1 {
    font-size: 2em;
}
} 
@media(max-width:320px){
h1 {
    font-size: 1.8em;
}
.login-form input[type="text"], .login-form input[type="email"], .login-form input[type="password"] { 
    padding: 0.8em 0; 
}
.agileits-row2 {
    margin: 1em 0;
}
.login-form input[type="submit"] {
    font-size: 0.9em; 
}
.agile-row {
    padding: 1em;
}
.w3lmain-info {
    width: 90%; 
}
.login-form input[type="text"], .login-form input[type="email"], .login-form input[type="password"] { 
    width: 100%; 
}
.copyright p { 
    letter-spacing: 0; 
}
}
/*-- //responsive-design --*/